<?xml version="1.0"?>
<launch>
  <param name="uav_system_config_filename" value="$(find aerial_autonomy)/param/simulator_config.pbtxt" />
  <param name="log_config_filename" value="$(find aerial_autonomy)/param/log_config.pbtxt" />
  <param name="state_machine_config_filename" value="$(find aerial_autonomy)/param/base_state_machine_config.pbtxt" />
  <arg name="log_level" default="0"/>
  <arg name="log_dir" default="$(find aerial_autonomy)/logs"/>
  <node pkg="aerial_autonomy" type="uav_system_node" name="uav_system_node" output="screen">
    <remap from="~common/goal_pose_command" to="/rqt_gui/pose_command_combined" />
    <remap from="~common/goal_velocity_yaw_command" to="/rqt_gui/velocity_yaw_command" />
    <remap from="~common/event_manager" to="/rqt_gui/event_trigger" />
    <remap from="~common/system_status" to="/rqt_gui/system_status" />
    <env name="GLOG_log_dir" value="$(arg log_dir)"/>
    <env name="GLOG_v" value="$(arg log_level)"/>
    <env name="GLOG_alsologtostderr" value="1"/>
  </node>
  <node pkg="joy" type="joy_node" name="rc_joy">
    <remap from="/joy" to="/uav_system_node/uav/joy"/>
  </node>
  <include file="$(find quad_simulator_parser)/launch/camera_simulator.launch"/>
</launch>
